@use 'sass:map';
@use '../variables' as *;
@use "breakpoint" as *;
@use "font" as *;

@mixin heading-style( $style: '1' ) {

  display: block;
  font-style: normal;
  color: inherit;
  margin: 0;
  padding: 0;

  @if $style == '1' {
    @include hobeaux( 700 );
    text-transform: uppercase;
    line-height: 1.05;
  }

}

@mixin heading-size( $size: '1' ) {

  $set: map.get( $theme-font-sizes-heading, $size );

  @each $name, $value in $set {
    @if $name == 'base' {
      font-size: $value;
    } @else {
      @include breakpoint(#{$name}) {
        font-size: $value;
      }
    }
  }

}
