$theme: (
  'theme-name': 'Boilerplate Shopify 2.0',
  'theme-uri': 'https://weareverypolite.com',
  'description': 'Boilerplate Shopify 2.0 Theme',
  'author': 'Very Polite Digital Dept.',
  'author-uri': 'https://weareverypolite.com',
  'version': '1.0.0',
  'license': 'GNU General Public License v2 or later',
  'license-uri': 'URI: https://www.gnu.org/licenses/gpl-2.0.html',
  'tags': 'HTML5, CSS3, Responsive, Mobile Friendly',
  'text-domain': 'boilerplate-shopify-2',
);

// ---------------------------------------- Border Settings
$theme-border-settings: (
  'radius': 4px,
  'width': 2px,
);

// ---------------------------------------- Button Heights
$theme-button-heights: (
  'base': 40px,
  'sm': 40px,
  'md': 40px,
  'lg': 44px,
  'xl': 44px,
  'xxl': 44px
);

// ---------------------------------------- Button Widths
$theme-button-widths: (
  'base': 120px,
  'sm': 120px,
  'md': 120px,
  'lg': 140px,
  'xl': 140px,
  'xxl': 140px
);

// ---------------------------------------- Colours
$theme-colours: (
  'black' : #111111,
  'blue' : #0038F5,
  'green': #81F25C,
  'grey' : #E0E0E0,
  'red' : #DC4117,
  'white' : #ffffff,
  'yellow' : #ffc700,
);

// ---------------------------------------- Font Families
$theme-font-families: (
  'sans-serif': sans-serif,
  'serif': serif,
  'cursive': cursive,
  'mono': monospace,
);

// ---------------------------------------- Font Sizes | Body Copy
$theme-font-sizes-body-copy: (
  'base': 15px,
  'sm': 16px,
  'md': 17px,
  'lg': 16px,
  'xl': 17px,
  'xxl': 18px
);

// ---------------------------------------- Font Sizes | Button
$theme-font-sizes-button: (
  'base': 13px,
  'sm': 14px,
  'md': 15px,
  'lg': 13px,
  'xl': 14px,
  'xxl': 15px
);

// ---------------------------------------- Font Sizes | Heading
$theme-font-sizes-body-copy: (
  '1': (
    'base': 18px,
    'sm': 18px,
    'md': 20px,
    'lg': 22px,
    'xl': 24px,
    'xxl': 26px
  ),
  '2': (
    'base': 14px,
    'sm': 14px,
    'md': 16px,
    'lg': 18px,
    'xl': 20px,
    'xxl': 22px
  ),
  '3': (
    'base': 14px,
    'sm': 14px,
    'md': 14px,
    'lg': 16px,
    'xl': 18px,
    'xxl': 20px
  ),
  '4': (
    'base': 14px,
    'sm': 14px,
    'md': 14px,
    'lg': 14px,
    'xl': 16px,
    'xxl': 18px
  )
);

// ---------------------------------------- Font Sizes | Heading
$theme-font-sizes-heading: (
  '1': (
    'base': 48px,
    'sm': 58px,
    'md': 70px,
    'lg': 82px,
    'xl': 100px,
    'xxl': 115px
  ),
  '2': (
    'base': 32px,
    'sm': 38px,
    'md': 46px,
    'lg': 55px,
    'xl': 66px,
    'xxl': 80px
  ),
  '3': (
    'base': 28px,
    'sm': 34px,
    'md': 40px,
    'lg': 48px,
    'xl': 58px,
    'xxl': 70px
  ),
  'base': 36px,
  'sm': 36px,
  'md': 46px,
  'lg': 52px,
  'xl': 62px,
  'xxl': 72px
);

// ---------------------------------------- Header Heights
$theme-header-heights: (
  'base': 65px,
  'sm': 75px,
  'md': 85px,
  'lg': 65px,
  'xl': 75px,
  'xxl': 85px
);

// ---------------------------------------- Input Heights
$theme-input-heights: (
  'base': 44px,
  'sm': 46px,
  'md': 48px,
  'lg': 50px,
  'xl': 52px,
  'xxl': 54px
);

$theme-layout-settings: (
  'gutter': 24px,
  'container-padding': 24px,
  'breakpoints': (
    'xs': 0,
    'sm': 576px,
    'md': 768px,
    'lg': 992px,
    'xl': 1200px,
    'xxl': 1400px
  ),
  'containers': (
    'sm': 540px,
    'md': 740px,
    'lg': 960px,
    'xl': 1160px,
    'xxl': 1360px
  )
);


// ---------------------------------------- Transition Settings
$theme-transition-settings: (
  'duration': 280ms,
  'opacity': 0.3333
);
