@use '../utils/mixins/input' as *;
@use '../utils/mixins/ui' as *;

.input {

  @extend %ui-transition;
  @extend %ui-base;
  @extend %ui-input;

  display: inline-flex;
  width: auto;
  justify-content: center;
  align-items: center;

  &--primary,
  &--secondary {
    @extend .input;
  }

  &--primary {
    @include placeholder {
      text-transform: uppercase;
    }
  }

  &--secondary {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    &[type=number] {
      -moz-appearance: textfield;
    }
  }

  &[disabled],
  &.disabled {
    @extend %ui-disabled;
  }

}
